{% extends 'base.html' %}
{% load static %}
{% block title %}マイページ画面{% endblock %}

{% block content %}
<div class="mypage">
    <h1>
        このページは<br>
        {{ user.first_name }} {{ user.last_name }}　さんのマイページです。
    </h1>
    <h2>現在のあなたの情報</h2>
    <table>
        <tr>
            <th>項目</th>
            <th>あなたの情報</th>
            <th></th>
        </tr>
        <tr>
            <td>あなたのID</td>
            <td>{{ user.account_id }}</td>
            <td>
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="text" name="account_Id">
                    <input type="submit" value="送信">
                </form>
            </td>
        </tr>
        <tr>
            <td>あなたの予約</td>
            <td>
                <table>
                    <tr>
                        <th>店名</th>
                        <th>開始時刻</th>
                        <th>終了時刻</th>
                        <th>予約人数</th>
                        <th></th>
                    </tr>
                <!-- 過去全ての予約が表示される -->
                {% for i in schedule_list %}
                    {% if user.get_username == i.name %}
                            <div id="schedule_pk" hidden>{{ i.id }}</div>
                            <tr>
                                <th id="html_str1">{{ i.shop_name }}</th>
                                <th id="html_str2">{{ i.start }}</th>
                                <th id="html_str3">{{ i.end }}</th>
                                <th id="html_str4">{{ i.numbers }}</th>
                                <th><button class="btn btn-danger" onclick="location.href='{% url 'schedule:delete' pk=i.id %}'">キャンセル</button></th>
                            </tr>
                    {% endif %}
                    <br>
                {% endfor %}
                </table>
            </td>
            <td>
                
            </td>
        </tr>
        <tr>
            <td>あなたのお気に入り店舗</td>
            <td>
                {% for i in user.favorite_shop.all %}
                    <li>{{ i.shopName }}</li>
                {% endfor %}
            </td>
            <td>
                お気に入り店舗の削除
                <form action="" method="post">
                    {% csrf_token %}
                    <select name="my_favorite_shop">
                        {% for i in user.favorite_shop.all %}
                            <option value="{{ i.shopName }}">{{ i.shopName }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="削除">
                </form>
            </td>
        </tr>
        <tr>
            <td>あなたの投稿したレビューと店舗</td>
            <td>
                <p>あなたの投稿したレビュー</p>
                
                    {% csrf_token %}
                    
                        {% for rev in review_list reversed %}
                            {% if user.get_username == rev.reviewUserName.account_id %}
                                <li>
                                    投稿日：{{ rev.reviewUpdated }}
                                    店舗名：{{ rev.reviewShopName.shopName }}　
                                    星：
                                    {% if rev.reviewStar == "1" %}
                                        ★
                                    {% elif rev.reviewStar == "2" %}
                                        ★★
                                    {% elif rev.reviewStar == "3" %}
                                        ★★★
                                    {% elif rev.reviewStar == "4" %}
                                        ★★★★
                                    {% elif rev.reviewStar == "5" %}
                                        ★★★★★
                                    {% endif %}　
                                    コメント：{{ rev.reviewComment }}　
                                    <button class="btn btn-danger" onclick="location.href='{% url 'review:UpdateReview' pk=rev.pk %}'">コメント編集</button>

                                </li>
                                
                            {% endif %}
                        {% endfor %}
                    
            </td>
            <td>（リンク）投稿したレビューの編集削除はこちら
                
            </td>
        </tr>
        <tr>
            <td>あなたの会員ランク</td>
            <td>
                {% if user.rank_is_free == True %}
                    <p>無料会員</p>
                {% else %}
                    <p>有料会員</p>
                {% endif %}
            </td>
            <td>
                <form action="" method="POST">
                    {% csrf_token %}
                    <select name="rank" required>
                        {% if user.rank_is_free == True %}
                            <option value="a">有料会員</option>
                        {% else %}
                            <option value="b">無料会員</option>
                        {% endif %}
                    </select>
                    <input type="submit" value="変更">
                </form>
            </td>
        </tr>
    </table>



    <br>
    <p>（リンク）退会はこちら</p>
</div>
<link rel="stylesheet" href="{% static 'css/mypage.css' %}{% if style_css_date %}?={{ style_css_date }}{% endif %}">
{% endblock %}