{% extends 'base.html' %}
{% block title %}レビュー編集画面{% endblock %}
{% load static %}
{% block content %}
<div class="reviewUpdate">
    <form action="" method="post">

        <h2>{{ user.get_username }}　さんが投稿するコメント</h2>

            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
            {{ field.label }}
            {{ field }}
            {{ field.errors }}
            <br>
            {% endfor %}
            <input type="submit" value="送信">
            <input type="submit" name="review-delete" value="コメント削除">
    </form>
</div>
<link rel="stylesheet" href="{% static 'css/review_update.css' %}">

{% endblock %}