{% extends 'base.html' %}
{% block title %}サブスクリプション画面{% endblock %}
{% load static %}
{% block content %}
<head>
  <script src="https://js.stripe.com/v3/"></script>
</head>

<script src="{% static 'js/cardinfo.js' %}{% if style_js_date %}?={{ style_js_date }}{% endif %}"></script> 


<body>
  {% if fatal_err %}
  <div class="fatal">
    <h1>{{ fatal_err }}</h1>
    <p>{{ user.get_username }}　さんは有料会員ではない為、クレジットカード情報がありませんでした。</p>
  </div>
  {% else %}
  <div id="card-element-container">
    <h1>クレジットカード情報の更新または削除</h1>
    <input type="hidden" id="stripe_APIKey" value="{{ stripe_APIKey }}">
    <hr />
    <div class="cardinfo">
      <h3>現在のカード情報</h3>
      {% if card %}
      <p>カードブランド: {{ card.brand }}</p>
      <p>カード番号の下4桁: **** **** **** {{ card.last4 }}</p>
      <p>有効期限: {{ card.exp_month }}/{{ card.exp_year }}</p>
      {% else %}
      <p>カード情報が見つかりませんでした。</p>
      {% endif %}
    </div>
    <hr />
    <h3>カード情報を更新</h3>
    <small>新しいクレジットカード情報を枠内の入力し、「カード情報送信ボタン」を押してください。</small>
    <div id="card-element"> 
      <form id="payment-form" action="" method="POST">
        <div id="card-element-zone"></div>
        <button type="submit">カード情報を送信</button>
        <div id="error-message"></div>
      </form>
    </div>
    <hr />
    <div class="cardinfo-delete">
      <h3>カード情報を削除</h3>
      <form action="" method="POST"> 
        {% csrf_token %}
        <input type="hidden" name="kokyaku-pk" value="{{ user.pk }}">
        <button type="submit" name="cardinfo-delete">現在の支払い設定のカード情報を削除</button>
      </form>
    </div>
  </div>
  {% endif %}
  <link rel="stylesheet" href="{% static 'css/cardinfo.css' %}{% if style_css_date %}?={{ style_css_date }}{% endif %}">
  
</body>

{% endblock %}